In [104]:
import pandas as pd

In [105]:
amz=pd.read_csv("C:/Users/Gautham/OneDrive/Desktop/ML/DS - Assignment Part 2 data set/amz_com-ecommerce_sample.csv",encoding= 'unicode_escape')
fk=pd.read_csv("C:/Users/Gautham/OneDrive/Desktop/ML/DS - Assignment Part 2 data set/flipkart_com-ecommerce_sample.csv",encoding= 'unicode_escape')

In [106]:
amz=amz[["uniq_id","product_name","retail_price","discounted_price"]]
fk=fk[["uniq_id","product_name","retail_price","discounted_price"]]
amz.rename(columns={"product_name":"product_name_amz"},inplace=True)
fk.rename(columns={"product_name":"product_name_fk"},inplace=True)

In [107]:
merge=pd.merge(amz,fk,on="uniq_id",how="inner")

In [108]:
merge=merge.drop("uniq_id",axis=1)

In [109]:
merge=merge.rename(columns={"product_name_amz":"product name in amazon","product_name_fk":"product name in flipkart","retail_price_x":"retail price in amazon","retail_price_y":"retail price in flipkart","discounted_price_x":"discounted price in amazon","discounted_price_y":"discounted price in flipkart "})

In [110]:
def compare_product(string,df):
    return df[df['product name in amazon'].str.contains(string)]

# use this function to get the desired output

In [114]:
compare_product("FDT",merge)

,product name in amazon,retail price in amazon,discounted price in amazon,product name in flipkart,retail price in flipkart,discounted price in flipkart
28,FDT WOMEN'S Leggings Pants,698,362,FDT Women's Leggings,699.0,309.0